Package: anon-tweet
Version: 0.2.1
Architecture: amd64
Installed-Size: 7415
Maintainer: AnonTweet
Priority: optional
Depends: libayatana-appindicator3-1, libwebkit2gtk-4.1-0, libgtk-3-0
Description: AnonTweet desktop companion
 (none)
